<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project realestate">
      <figure class="project__pic">
        <a
          href="https://reactsearchfilter.netlify.app/"
          target="_blank"
        >
          <img
            src="{{site.baseurl}}/img/featured/RealEstate/realestate.png"
            alt=""
          >
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://reactsearchfilter.netlify.app/"
            target="_blank"
          >RealEstate React Search Filters</a>
        </div>
        <p>Custom RealEstate website search filters built with React.js. With
          working Favourites button and Favourites page.</p>
      </figcaption>
    </div>

    <div class="project crazybaby">
      <figure class="project__pic">
        <a
          href="https://quelaan1.github.io/Kickstarter/"
          target="_blank"
        >
          <div class="phone">
            <img
              src="{{site.baseurl}}/img/featured/CrazyBaby/landing.png"
              alt=""
            >
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://quelaan1.github.io/Kickstarter/"
            target="_blank"
          >CrazyBaby Landing Page</a>
        </div>
        <p>Custom Landing Page built with HTML/CSS (SASS).</p>
      </figcaption>
    </div>

    <div class="project MyBike">
      <figure class="project__pic">
        <a
          href="https://quelaan1.github.io/layout_miami/"
          target="_blank"
        >
          <img
            src="{{site.baseurl}}/img/featured/MyBike/landing.png"
            alt=""
          >
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://quelaan1.github.io/layout_miami/"
            target="_blank"
          >MyBike Landing Page</a>
        </div>
        <p>Custom Landing Page built with HTML/CSS (SASS).</p>
      </figcaption>
    </div>
  </div>
</section>
